<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring AWS CloudWatch</title>
</head>
<body>
    <h1>Statut de l'application : <%= status %></h1>
    <ul>
        <li><a href="/trigger-cpu-alarm">Simuler une surcharge CPU</a></li>
        <li><a href="/trigger-io-alarm">Simuler des files d'attente IO</a></li>
        <li><a href="/trigger-network-alarm">Simuler une activité réseau intense</a></li>
        <li><a href="/trigger-disk-error">Simuler une erreur de disque</a></li>
        <li><a href="/trigger-application-shutdown">Simuler l'arrêt de l'application</a></li>
    </ul>
</body>
</html>
